<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("includes/head")%>;
  </head>
  <body>
    <%-include('includes/header')%>
    <%-include("includes/aside")%>
    <main>
      <h1>OOOOOOPPPSSSSS Something Went Wrong!!</h1>
      <p>
        we'll fix it within your eyes blinks time!
      </p>
    </main>
  </body>
</html>